
.App {
	text-align: center;
	background-color: #2aa2e7;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 1vmin);
	overflow: hidden;
	width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
