.option-card {
	background-color: lightgrey;
	border-color: black;
	border-radius: 5px;
	width: 80vw;
	position: absolute;
	height: 60vh;
	overflow: hidden;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	header {
		height: 65%;

		.banner {
			height: 100%;

			// TODO: probably need to address this in JS
			// 'cover' works for most, but not all
			background-size: cover;
			background-position-y: center;
			background-position-x: center;
			// background-size: calc(60vh * 0.65);
			// background-repeat: no-repeat;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				width: 100%;
				left: 0;
				height: 100%;
				background: linear-gradient(
					rgba(0, 0, 0, 0.0) 0%,
					rgba(0, 0, 0, 0.0) 85%,
					rgba(0, 0, 0, .75) 100%
				);
			}
		}
	}

	img.mega {
		top: 0;
		left: 0;
		width: 100%;
	}

	header {
		position: relative;
		color: white;

		.name {
			position: absolute;
			bottom: 3px;
			font-size: 18px;
			font-weight: bold;
			left: 5px;
		}
	}
	
	p:last-child {
		padding-bottom: 1em;
	}
}