.setup {

	.whats-up {
		label { text-align: left; }
	}
	.whats-up,
	.options {
		width: 340px;
		label {
			display: block;
			margin: 10px 10px;

			input {
				margin-left: 20px;
				width: 50px;
			}
		}


		.options {
			overflow: hidden;
			// &:not(:active) {
				// max-height: 0;

				// transition: max-height .25s;
				// -webkit-transition: max-height .25s;
				// transition-timing-function: ease-in ease-out;
			// }
			// &.active {
				// background-color: red;
				// max-height: 100px;

				// transition: max-height .25s;
				// -webkit-transition: max-height .25s;
				// transition-timing-function: ease-in ease-out;

				// &.going-out { max-height: 75px; }

				// &.drive-thru { max-height: 65px; }
			// }

		}
	}

	section {
		background-color: white;
		padding: 10px;
		margin: 15px;
	}

	p {
		margin: 5px;
	}
}
